# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

**/artifacts/


# Package Files #
*.jar
!gradle/**/*.jar

*.log
alogs

# main git ignore file
# idea specific
**/.idea/
**/*.iml

# gradle specific
.gradle/
**/build




